/* FONTES */

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local(''),
            url('../fonts/raleway-v19-latin-600.woff2') format('woff2'),
            url('../fonts/raleway-v19-latin-600.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
            url('../fonts/raleway-v19-latin-700.woff2') format('woff2'),
            url('../fonts/raleway-v19-latin-700.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'),
         url('../fonts/montserrat-v15-latin-regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-v15-latin-500.woff2') format('woff2'),
         url('../fonts/montserrat-v15-latin-500.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/montserrat-v15-latin-600.woff2') format('woff2'),
         url('../fonts/montserrat-v15-latin-600.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/montserrat-v15-latin-700.woff2') format('woff2'),
         url('../fonts/montserrat-v15-latin-700.woff') format('woff');
}

/* Couleurs */

:root {
    --orange: #F16822;
    --white: #F9F9F9;  
    --greyLighter: #EEEEEE;
    --greyLight: #cccccc;
    --grey: #707070;
    --greyDark: #777777;
    --greyDarker: #444444;
    --black: #333333;

    --whiteShadow: #FFFFFF;
    --greyShadow: #00000029;
}


/* TITLES & TEXT ELEMENTS */
h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.2em;
}

h1 {
    font-size: 6.4rem;
    color: var(--orange);
}

h2 {
    font-size: 4.8rem;
    color: var(--black);
}

h3 {
    font-size: 2.4rem;
    color: var(--black);
}

p,
a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

.logo-text {
    line-height: 1.2em;
    color: var(--grey);
}

.logo-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.logo-subtitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

.site-title {
    text-align: center;
    margin-bottom: 5rem;
}

.hero-text {
    font-size: 3.2rem;
    line-height: 1em;
}

.section-text {
    font-size: 2.4rem;
    line-height: 1.3em;
    max-width: 104.8rem;
    text-align: center;
    padding-bottom: 1.3em;
}

.item-text {
    text-align: center;
    padding-bottom: 2em;
    color: var(--black);
}

.features .section-text {
    color: var(--greyLighter);
}

.section-title-orange {
    color: var(--orange);
}

.card-item > .item-title {
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.2em;
    color: var(--orange);
}

p .stat-number {
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.2em;
    color: var(--orange);
}

p .stat-type {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.3em;
    color: var(--black)
}

.testimonial-content > .section-title {
    color: var(--white);
    margin-bottom: 0.5em;
}

.testimonial-content > .section-text {
    text-align: left;
    color: var(--greyLighter);
}

.footer-title {
    line-height: 1.2em;
    color: var(--orange);
}

.contact-text {
    font-size: 2rem;
    line-height: 1.6em;
    color: var(--greyLight);
}

.footer-title {
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.legal-mentions {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.3em;
    color: var(--greyDarker);
}

/* LAYOUT */

section {
    padding-top: 17rem;
}

.container {
    display: grid;
    width: 128rem;
    margin: 0 auto;
}

.site-hero > .container,
main .container {
    justify-items: center;
}


/* COMPONENTS */

.button-left-right {
    border: 0;
    background: transparent;
    justify-self: center;
}

.eight-buttons {
    justify-self: center;
    margin-bottom: 8rem;
}

.edging {
    margin-bottom: 3.2rem;
}

.edging span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.square {
    padding: .5rem;
    background-color: var(--black);
    border: 0;
    margin-right: .1rem;
}

.square-orange {
    background-color: var(--orange);
}

.square-grey {
    background-color: var(--greyLighter);
}

hr {
    color: var(--greyDark);
    width: 100%;
}


/* LINKS */

.site-header .link {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.3em;
    text-transform: uppercase;
    color: var(--black);
}

.site-footer .link {
    display: flex;
    padding: 0;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2em;
    color: var(--grey);
}

.tag .link {
    font-size: 1.2rem;
    line-height: 1em;
    color: var(--greyLight);
    text-transform: uppercase;

    padding: .5rem 1.2rem;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: var(--greyDarker);
}

.contact-item .link {
    transform: translateY(-13%);
}



/* EFFECTS */
*:focus {
    outline: 5px solid var(--orange);
}

.testimonials .square:focus,
.sn-item:focus {
    outline: 5px solid var(--greyLighter);
}

.site-header .link:hover {
    background-color: var(--orange);
    color: var(--white);
    transition: .3s;
}

.sn-link:hover {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(319deg) brightness(107%) contrast(102%);
    transition: .3s;
}

/* .button-left:hover {
    transform: translateX(-50%);
    transition: 0.3s;
}

.button-right:hover {
    transform: translateX(50%);
    transition: .3s;
} */

.square:hover {
    background-color: var(--orange);
    transition: .3s;
}

.square-orange:active {
    background-color: var(--orange);
}

.square-grey:active {
    background-color: var(--greyLight);
}

.card-item:hover {
    box-shadow: inset .3rem .3rem .6rem var(--greyShadow);
    transition: .3s;
}

.testimonials .square:hover {
    background-color: var(--greyLighter);
    transition: .3s;
}

.menu-list .link:hover {
    color: var(--greyLighter);
    background-color: var(--black);
    color: var(--orange);
    transition: .3s;
}

.tag .link:hover {
    transform: scale(1.2);
    transition: .3s;
    background-color: var(--orange);
}

.contact-text:hover {
    background-color: var(--black);
    transition : .3s;
    color: var(--orange);
}

.overlay {
    background-color: rgba(255, 255, 255);
    opacity: 0.9;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}



/* HEADER */

.site-header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 0;
}

.logo-group {
    display: flex;
}

.logo-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1.8rem;
}

.menu-items {
    display: flex;
    justify-content: space-between;
}

.menu-links .link {
    padding: 1.6rem 2rem;
}


/* HERO */

.site-hero {
    /* display: grid; */
    background-image: url("../img/slider1.png");
    height: 96rem;
    padding-bottom: 8rem;
    padding-top: 0;
}

@media screen and (min-resolution: 144dpi){
    .site-hero {
        background-image: url("../img/slider1@2x.png");
    }
}

.site-hero > .container {
    grid-template-rows: auto 2rem;
    }

.hero-reader {
    display: grid;
    grid-template-columns: repeat(3,auto);
}

.content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6.6rem;
    padding-right: 6.6rem;
}


/* SERVICES */

.services {
    padding-bottom: 17rem;
}

.services-items {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-top: 4.9rem;
}

.icone-box {
    width: 12.5rem;
    height: 12.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--greyLighter);
}

.service-item {
    display: grid;
    justify-items: center;
    row-gap: 2.4rem;
    max-width: 31.7rem;
}


/* FEATURES */

.features {
    background-image: url("../img/bokehback.png"); 
    background-color: var(--black);
}

@media screen and (min-resolution: 144dpi) {
    .features {
        background-image: url("../img/bokehback@2x.png");
    }
}

.features > .container {
    align-content: start;
    grid-template-rows: minmax(auto, auto) auto 1fr;
    min-height: 79rem;
}

.carousel-box {
    background-image: url("../img/groupe_33.png");
    background-position: bottom;
    min-height: 60rem;
    min-width: 100rem;
}


/* POSTS */

.posts {
    background-color: var(--white);
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    gap: 10rem 4rem;
    margin-top: 11.5rem;
    margin-bottom: 18.5rem;
}
.card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 40rem;
    min-height: 60rem;
    box-shadow: 0 .3rem .6rem var(--greyShadow);
}

.image-box {
    max-width: 35rem;
    min-height: 30rem;
}


/* STATISTICS */

.statistics {
    background-image: url("../img/lauren-mancke-aOC7TSLb1o8-unsplash.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -2;
}

@media screen and (min-resolution: 144dpi) {
    .statistics {
        background-image: url("../img/lauren-mancke-aOC7TSLb1o8-unsplash@2x.png");
    }
}

.stats-items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20rem;
}

.stat-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* TESTIMONIES */

.testimonials {
    background-image: url("../img/rect.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonials > .container {
    gap: 12rem 5rem;
    grid-template-rows: repeat(2, auto);
}

.portrait-box {
    border-radius: 50%;
    display: grid;
    align-content: center;
}

.testimonial-img {
    border-radius: 50%;
    margin-right: 5.5rem;
}

.testimonial-item {
    max-height: 22rem;
    display: flex;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* FOOTER */

.site-footer {
    background-color: var(--black);
}


.site-footer > .container {
    padding-top: 11rem;
    padding-bottom: 3.4rem;
    row-gap: 3.5rem;
}

.site-footer .menu {
    display: grid;
    grid-template-columns: repeat(4, 30rem);
    justify-content: space-between;
    margin-bottom: 15rem;
}

.symbole {
    margin-right: 1rem;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
}

.list-contacts {
    display: grid;
    grid-template-rows: repeat(3,auto);
    gap: 2em;
}

.contact-item {
    display: flex;
    align-items: flex-start;
}

.footer-footer {
    display: flex;
    justify-content: space-between;
}

.social-networks {
    display: flex;
}

.sn-item {
    margin-left: 2.5rem;
    border-radius: 50%;
}


/* ------------------------------------------------------------------------------ */

/* SLIDER HERO */

.swiper-container {
    height: 96rem;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    position: absolute;
    top: 0;
    width: 128rem;
    height: 100%;
    transform: translateX(25%);
}

.swiper-button-prev,
.swiper-button-next {
    width: 5rem;
    height: 5rem;
}

.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  display: none;
}

.swiper-pagination {
    margin-bottom: 8rem;
}

.swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 0;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--orange);
}

/* SLIDER TESTIMONIALS */

.testimonials {
    padding: 0;
}

.testimonials .swiper-container {
    padding-top: 17rem;
    height: 60rem;
}

.testimonials .swiper-slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 12rem;
}

.button-container {
    position: absolute;
    z-index: 10;
    top: 0;
    width: 128rem;
    height: 100%;
    transform: translateX(25%);
}

.swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 0;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--white);
}
